body{
    background-image: url("../images/background.jpg");
    margin: 0px;
    padding: 0px;
}
#app-title {
   padding-top: 20px;
   padding-bottom: 10px;
}
#buttons-view {
   margin: 20px, 0px;
}


.movie {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    /* width: 100%;
    display: inline; */
}

.btn-sm {
    padding: .25rem .25rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .8rem;
    margin-right: 5px;
    margin-bottom: 5px;
}
#movie-form {
    width: 100%;
}
#movie-input {
    width: 100%;
}
#add-movie {
    border-radius: .8rem;
    margin-right: 35%;
    margin-top: 5px;
    background-color: rgb(240, 49, 128);
    border-color:  rgb(240, 49, 128);
}